@import "bootstrap-5.2.2/scss/functions";

$body-color:       $dark; // $gray-900 !default;
$font-size-base:   1.125rem; // 1rem = 16px
$font-size-sm:     1rem;     // $font-size-base * .875;
$font-size-lg:     1.111111111 * $font-size-base; // * 1.25;

$spacer:           $font-size-base * 1.5;
$paragraph-margin-bottom: $spacer;

$nav-link-font-size: $font-size-lg;

// Variables

@import "bootstrap-5.2.2/scss/variables";

// Update variables

@import "bootstrap-5.2.2/scss/maps";
@import "bootstrap-5.2.2/scss/mixins";
@import "bootstrap-5.2.2/scss/root";
@import "bootstrap-5.2.2/scss/utilities";

$utilities: map-remove($utilities,
    "align",
  /* "float", */
    "opacity",
    "overflow",
  /*  "display", */
    "shadow",
    "position",
    "top",
    "bottom",
    "start",
    "end",
    "translate-middle",
    "border",
    "border-top",
    "border-end",
    "border-bottom",
    "border-start",
    "border-color",
    "border-width",
    "border-opacity",
    "width",
    "max-width",
    "viewport-width",
    "min-viewport-width",
    "height",
    "max-height",
    "viewport-height",
    "min-viewport-height",
    "flex",
    "flex-direction",
    "flex-grow",
    "flex-shrink",
    "flex-wrap",
    "gap",
 /*   "justify-content",*/
    "align-items",
    "align-content",
    "align-self",
    "order",
    /*"margin",
    "margin-x",
    "margin-y",
    "margin-top",
    "margin-end",
    "margin-bottom",
    "margin-start",*/
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    "padding",
    "padding-x",
    "padding-y",
    "padding-top",
    "padding-end",
    "padding-bottom",
    "padding-start",
    "font-family",
    "font-size",
    "font-style",
    "font-weight",
    "line-height",
    "text-align",
    "text-decoration",
    "text-transform",
    "white-space",
    "word-wrap",
    "color",
    "text-opacity",
    "background-color",
    "bg-opacity",
    "gradient",
    "user-select",
    "pointer-events",
    "rounded",
    "rounded-top",
    "rounded-end",
    "rounded-bottom",
    "rounded-start" /*,
    "visibility" */
);


// @import "bootstrap-5.2.2/scss/accordion";
// @import "bootstrap-5.2.2/scss/alert";
// @import "bootstrap-5.2.2/scss/badge";
// @import "bootstrap-5.2.2/scss/breadcrumb";
// @import "bootstrap-5.2.2/scss/button-group";
@import "bootstrap-5.2.2/scss/buttons";
@import "bootstrap-5.2.2/scss/card";
// @import "bootstrap-5.2.2/scss/carousel";
// @import "bootstrap-5.2.2/scss/close";
@import "bootstrap-5.2.2/scss/containers";
// @import "bootstrap-5.2.2/scss/dropdown";
@import "bootstrap-5.2.2/scss/forms";
    @import "bootstrap-5.2.2/scss/forms/floating-labels";
//    @import "bootstrap-5.2.2/scss/forms/form-check";
    @import "bootstrap-5.2.2/scss/forms/form-control";
//    @import "bootstrap-5.2.2/scss/forms/form-range";
//    @import "bootstrap-5.2.2/scss/forms/form-select";
    @import "bootstrap-5.2.2/scss/forms/form-text";
    @import "bootstrap-5.2.2/scss/forms/input-group";
    @import "bootstrap-5.2.2/scss/forms/labels";
//    @import "bootstrap-5.2.2/scss/forms/validation";
@import "bootstrap-5.2.2/scss/grid";
@import "bootstrap-5.2.2/scss/images";
// @import "bootstrap-5.2.2/scss/list-group";
// @import "bootstrap-5.2.2/scss/modal";
// @import "bootstrap-5.2.2/scss/nav";
@import "bootstrap-5.2.2/scss/navbar";
// @import "bootstrap-5.2.2/scss/offcanvas";
// @import "bootstrap-5.2.2/scss/pagination";
@import "bootstrap-5.2.2/scss/placeholders";
// @import "bootstrap-5.2.2/scss/popover";
// @import "bootstrap-5.2.2/scss/progress";
@import "bootstrap-5.2.2/scss/reboot";
// @import "bootstrap-5.2.2/scss/spinners";
// @import "bootstrap-5.2.2/scss/tables";
// @import "bootstrap-5.2.2/scss/toasts";
// @import "bootstrap-5.2.2/scss/tooltip";
@import "bootstrap-5.2.2/scss/transitions";
// @import "bootstrap-5.2.2/scss/type";


@import "bootstrap-5.2.2/scss/helpers";
//    @import "bootstrap-5.2.2/scss/helpers/clearfix";
//    @import "bootstrap-5.2.2/scss/helpers/color-bg";
//    @import "bootstrap-5.2.2/scss/helpers/colored-links";
//    @import "bootstrap-5.2.2/scss/helpers/position";
//    @import "bootstrap-5.2.2/scss/helpers/ratio";
//    @import "bootstrap-5.2.2/scss/helpers/stacks";
//    @import "bootstrap-5.2.2/scss/helpers/stretched-link";
//    @import "bootstrap-5.2.2/scss/helpers/text-truncation";
    @import "bootstrap-5.2.2/scss/helpers/visually-hidden";
//    @import "bootstrap-5.2.2/scss/helpers/vr";

@import "bootstrap-5.2.2/scss/utilities/api";
@import "bootstrap-5.2.2/scss/vendor/rfs";