{{- $display_link := .params.display | default false -}}
{{- with site.Params.FollowLinks -}}
    <ul>
        {{- range sort . "weight" -}}
            {{- if eq .id "rss" -}}
                {{- with ((site.GetPage "home").OutputFormats.Get "rss") -}}
                    <li>
                        <a href="{{- .Permalink -}}" title="{{- i18n "rss-feeds" -}}"><i class="bi-rss"></i><span class="visually-hidden">{{- i18n "rss-feeds" -}}</span>{{/* i18n "rss-feeds" -*/}}</a>
                    </li>
                {{ end -}}
            {{- else -}}
                {{- if .account -}}
                    {{- $media := . -}}
                    {{- if and (ne site.Data.socials.config nil) (ne .id nil) -}}
                        {{- with (index site.Data.socials.config .id) }}
                        <li>
                            <a href="{{- printf .follow $media.account -}}" target="_blank" rel="noopener noreferrer" title="{{- i18n .followtext . -}}"><i class="{{- .icon -}}"></i><span class="visually-hidden">{{- i18n .followtext . -}}</span>{{- if eq $display_link true }} {{ .name -}}{{- end -}}</a>
                        </li>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    </ul>
{{- end -}}
