{{- define "main" -}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><i class="bi-square-fill"></i> {{ .Title -}}</h1>
            </div>
        </div>
        <form class="row contact-content">
            <div class="col-md-6 mb-3">
                <label for="input-firstname" class="form-label">{{- i18n "first-name" -}}</label>
                <input type="text" class="form-control" id="input-firstname">
            </div>
            <div class="col-md-6 mb-3">
                <label for="input-lastname" class="form-label">{{- i18n "last-name" -}}</label>
                <input type="text" class="form-control" id="input-lastname">
            </div>
            <div class="col-12 mb-3">
                <label for="input-email" class="form-label">{{- i18n "email" -}}</label>
                <input type="text" class="form-control" id="input-email" placeholder="{{- i18n "placeholder-email" -}}">
            </div>
            <div class="col-12 mb-3">
                <label for="input-object" class="form-label">{{- i18n "subject" -}}</label>
                <input type="text" class="form-control" id="input-object" placeholder="{{- i18n "placeholder-subject" -}}">
            </div>
            <div class="col-12 mb-3">
                <label for="input-msg" class="form-label">{{- i18n "your-message" -}}</label>
                <input type="text" class="form-control" id="input-msg" placeholder="{{- i18n "placeholder-message" -}}">
            </div>
            <div class="col-12 mb-3">
                <button type="submit" class="btn btn-primary">{{- i18n "submit" -}}</button>
            </div>
        </form>
    </div>
{{- end -}}